body {
  background-color: #faeee1 !important;
  font-family: 'Signika';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100px;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
